*{
    margin: 0;
    padding: 0;
}
.lav{
    text-align: center;
    background-color: #E2C799;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.889);
}
.lava{
    text-align: center;
    
    padding: 5px 5px;
    margin: 5px;
}
.col-1-left{
    height: 300px;
}
.col-1-left {
    background: url(images/kurabi.jpg);
    background-size: cover;
    background-position: center;
}
.col-1 {
    display: inline-block;
    width: calc(50% - 50px);
    height: 360px;
}
.col-1-right{
    vertical-align: top;
    text-align: center;
    font-size: larger;
    background-color:#FAF6E3;
}
lş
.col-2-left{
    height: 360px;
}
.col-2-left {
    background: url(images/hsote.jpg);
    background-size: cover;
    background-position: center;
}
.col-2 {
    display: inline-block;
    width: calc(50% - 50px);
    height: 360px;
}
.col-2-right{
    vertical-align: top;
    text-align: center;
    font-size: larger;
    background-color:#FAF6E3;
}
şşşşş
.col-3-left{
    height: 360px;
}
.col-3-left {
    background: url(images/içecek.jpg);
    background-size: cover;
    background-position:bottom;
    
}
.col-3 {
    display: inline-block;
    width: calc(50% - 50px);
    height: 360px;
}
.col-3-right{
    vertical-align: top;
    text-align: center;
    font-size: larger;
    background-color:#FAF6E3;
}


.a-1{
    color: #FAF6E3;
    background-color: #b70404db;
    padding: 40px 20px 20px 20px;
    border-radius: 6px;
    
}
.a-1:hover {
    color: #b70404db;
    background-color:#FAF6E3;
    border: 5px solid #b70404db;

}
.a-1::before {
    content: none;
}


.a-2{
    color: #FAF6E3;
    background-color: #b70404db;
    padding: 40px 20px 20px 20px;
    border-radius: 6px;
    
}
.a-2:hover {
    color: #b70404db;
    background-color:#FAF6E3;
    border: 5px solid #b70404db;

}
.a-2::before {
    content: none;
}

.a-3{
    color: #FAF6E3;
    background-color: #b70404db;
    padding: 40px 20px 20px 20px;
    border-radius: 6px;
    
}
.a-3:hover {
    color: #b70404db;
    background-color:#FAF6E3;
    border: 5px solid #b70404db;

}
.a-3::before {
    content: none;
}